body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* ### First row ### */
.container {
  max-width: 1024px;
}



/* Login and Sign up buttons */
.register {
  display: flex;
  float: right;
}

/*Community Board*/
.post-editor {
  margin-top: 1em;
  margin-left: 1em;

}

.post-editor-text {
  margin-top: 1em;
  margin-left: 1.5em;
}
.post-editor-submit {
  float: right;
  margin-top: 1em;
}

.existing-post {
  margin-left: 1em;
}
/* ### Second Row ### */

.body {
  padding: 10px;
}

.task-form {
  width: 50%;
  margin: 0 auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0f31a0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/*////////
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #227f96;}

.container {
  margin-right: auto;
  margin-left: auto;
}



.row {
  margin-left: -21px;
}

/* Displaying listed jobs */
.layout-content {
  float: left;
  margin-left: 20px;
  width: 652px;
}

.layout-sidebar {
  float: left;
  margin-left: 20px;
  width: 316px;
  min-height: 1px;
}

.mb-panel {
  padding: 20px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.mb-panel_header {
  padding: 10px 20px;  
  border-radius: 4px 4px 0 0;
  margin: -20px -20px 20px;
  background-color: #007bff;
  color: #fff;
  position: relative;
}

.heading-caps {
  font-family: 'sofia_probold',"Trebuchet MS",
    "Segoe UI",Candara,"Bitstream Vera Sans",
    "DejaVu Sans","Bitstream Vera Sans",Verdana,
    "Verdana Ref",sans-serif;
  font-size: 14px;
  line-height: 2em;
  margin: 0;
}

.actions {
  padding-top: 1em;
  margin: 0;
}

.heading-large {
  margin-bottom: 30px;
  font-size: 30px;
  margin: 0 0 30px;
}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.posted-jobs_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posted-jobs_list-item {
  border: 0;
  margin: 0;
  padding: 0 0 10px;
  margin-bottom: 15px;
}

.posted-box {
  background-color: #ffffff;
}

.li {
  line-height: 20px;
}

/* .overlay {
  position: fixed;
  background-image: url('https://greenindustryplatform.org/sites/default/files/styles/large/public/learning-resources/image/sol-518339-unsplash.jpg?itok=B4GJAY6_');
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
} */

footer {
  color: white;
  margin-top: 3em;
  background: #343944;
}