body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > #root > div {
  height: 300px;
}

* {
  box-sizing: border-box;
}

/* ### First row ### */
.container {
  max-width: 1024px;
  position: relative;
  bottom: 0;
}

.new-container {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Login and Sign up buttons */
.register {
  display: flex;
  float: right;
}

/*Community Board*/
.community-board {
  margin-top: 4em;
}

.post-editor {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;

}

.post-editor-text {
  margin-top: 1em;
  margin-left: 1.5em;
  
}
.post-editor-submit {
  float: right;
  margin-top: 1em;
  
}

.existing-post {
  margin-left: 1em;
}
/* ### Second Row ### */

.body {
  /* margin-left: 5em;
  margin-right: 5em;
  padding: 10px;  */
  padding-top: 50px;
  position: relative;
  justify-content: center;
  min-height: 100vh;
}

.sign-up {
  padding: 10px;
  margin: 10px;
}

.sign-in {
  /* display: flex;
  justify-content: center; */
  padding: 10px;
  margin: 10px;
}

.task-form {
  width: 50%;
  margin: 0 auto;
}

/* CSS for navbar elements */
.nav-text {
  color: white !important;
}

.nav-text:hover {
  color: rgb(90, 195, 199) !important;
}

.user-text {
  color: white !important;
}

.signUp-text {
  color: white;
  font-weight: bold;
}

.signIn-text {
  color: white;
  font-weight: bold;
}

.drp-text {
  color: black;
}

#collasible-nav-dropdown {
  color: white;
}

#collasible-nav-dropdown:hover {
  color: rgb(90, 195, 199) !important;
}

.faqprofile {
line-height: 5pt;
position: relative;
display: inline-block;
}

.lonk{
    background-color: #007bff;
    color: white;
    padding: 15px;
    font-size: 17px;
    border: none;
    position: absolute;
}

.lenk{
  margin-right: 29em;
  display: flex;
  justify-content: center;
}

.donk{
  padding: 10px;
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  justify-content: center;
}
/* Dropdown Button */
.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* What's in each dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

/* Hover Color */
.dropdown-content a:hover {background-color: #ddd;}

/* Displays the parts of each dropdown */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {background-color: #0f31a0;}

.dropdown:hover .dropbtn {background-color: #289fbd;}

.container {
  width: 75%
}


.container {
  width: 75%
}


.container {
  width: 75%
}




.row {
  margin-left: -21px;
}

.container1 {
    margin-right: auto;
    margin-left: auto;
    width: 988px;
}

.mb-panel {
  padding: 20px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.mb-panel_header {
  padding: 10px 20px;  
  border-radius: 4px 4px 0 0;
  margin: -20px -20px 20px;
  background-color: #007bff;
  color: #fff;
  position: relative;
}

.mb-row2 {
  width: 100%;
  margin-top: 10px;
}

.cont-body {
  font-size: 16px;
}

.heading-caps {
  font-family: 'sofia_probold',"Trebuchet MS",
  "Segoe UI",Candara,"Bitstream Vera Sans",
  "DejaVu Sans","Bitstream Vera Sans",Verdana,
  "Verdana Ref",sans-serif;
  font-size: 16px;
  line-height: 2em;
  margin: 0;
}

.actions {
  padding-top: 1em;
  margin: 0;
}

.task-taken {
  margin-top: 20px;
}

.heading-large {
  margin-bottom: 30px;
  font-size: 30px;
  margin: 0 0 30px;
}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.posted-jobs_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-wrapper {
  max-height: 80vh;
	overflow: auto;
	scroll-behavior: smooth;
}

.posted-jobs_list-item {
  border: 0;
  margin: 0;
  padding: 0 0 10px;
  margin-bottom: 15px;
}

.card-question {
  padding-bottom: 20px;
}

.card-head {
  font-size: 16px;
}

.posted-box {
  background-color: #ffffff;
}

.li {
  line-height: 20px;
}

.form-container {
  max-width: 600px;
  box-sizing: border-box;
  padding: 1.5em 1em;
  margin: 0px auto 1em;
}

.form-group {
  font-size: 16px;
}

.viewjob-header {
  width: 98%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.edit-sidebar1 {
  float: left;
  width: 316px;
  margin-right: 20px; 
}

.edit-sidebar2 {
  margin: left;
  float: left;
  width: 316px;
  margin-right: 20px; 
}

.viewjob-main {
  width: 600px;
  margin: right;
}

.layout-content {
  float: left;
  margin-left: 20px;
  width: 652px;
}

.layout-sidebar {
  float: left;
  margin-left: 20px;
  width: 316px;
  min-height: 1px;
}

.right-marg {
  width: 780px;
  margin-right: 20px;
}

/* .overlay {
  position: fixed;
  background-image: url('https://greenindustryplatform.org/sites/default/files/styles/large/public/learning-resources/image/sol-518339-unsplash.jpg?itok=B4GJAY6_');
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
} */

.profile-pic {
  width: 2em;
  height: 2em;
}

footer {
  color: white;
  /* margin-top: 3em; */
  background: #343944;
  box-shadow: 0 50vh 0 50vh;
  height: 100%;
  padding-top: 20px;
}